<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div id = 'form-input'>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <b>Email</b>(<span style=" color: red;">*</span>):
      <%= f.text_field :email, placeholder: 'Enter your user here..'%>

      <b>Password</b>(<span style=" color: red;">*</span>):
      <%= f.password_field :password, placeholder: 'Enter your password here...'%>

      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
  </div>
</div>
</div>