<p>Information User</p>


<table border = "1", width = "80%", align = "center">
  <tr height= "10px", align = "center", bgcolor = "#CCFF33">
    <td>User ID</td>
    <td>User Email</td>
    <td>Createt At</td>
    <td>Active</td>
  </tr>
  <tr align = center>
    <td><%= @user.id %></td>
    <td><%= @user.email%></td>
    <td><%= @user.created_at %></td>
    <td>
    	<%if @user.active%> Actived
    	<% else %>
    	No
    	<%end%>
    </td>
  </tr>
</table>
<% if !@user.active%>
	<%= form_for :actives, url: {action: "active_user"} do|f| %>
	<input type ="hidden" name = "id" id= "ghg" value = <%=@user.id%>>
  	<%= f.submit "Active Now"%>
  	<%end%>
<%else%>
<!--####################-->
<%end%>