<%= form_for @namegroup do |f| %>
	<% number_group = @groups.count-1%>
Group ID:
<select name="group_id">
	<option value="">Please select</option>
	<% for i in 0..number_group %>
	<option value=<%= @groups[i].group_id%> > <%= @groups[i].group_id%></option>
	<%end%>
</select>

  	<div class="field">
      <%= f.label :'Group Name' %><br />
       <%= f.text_field :group_name%>
    </div>
   <div class="actions">
    <%=f.submit "Save", class: "btn btn-large btn-primary" %>
  </div>
<%end%>