Manager :(<b>Read-Edit-Delete</b>)
<br/>
<table width='60%'>
<% @users_manager.each do |m| %>
	<tr>
		<td width='20%'><%= gravatar_for(m)%></td>
		<td width ='50%'><p3><%= m.email%></p3></td>
	</tr>
	<% end %>
<table>
<br/>
<hr/>
Member :
<br/>
	<table width='60%'>
	   	<% @users.each do |user| %>
			<% group=Group.find_by_user_id(user.id) %>
			<tr>
				<td width='20%'><%= gravatar_for(user) %></td>
				<td width='30%'><%= user.email %></td>
				<td><i>
					<p3><% if group.r?%> 
						Read
					<%else%>
						-No- 
					<%end%>
					<% if group.e?%> 
						Edit
					<%else%>
						-No- 
					<%end%>
					<% if group.d?%> 
						Delete
					<%else%>
						-No-
					<%end%>
				</p3></i>
				</td>
				<% @user = user%>
				<td><%= link_to "Edit Role", set_role_path(@user) %></td>

			</tr>
		<% end %>
	<table>