<div id="conditions">
	<ul>
  		<%= f.attribute_fields do |a| %>
   			<li> <%= a.attribute_select associations: [:group] %></li>
  		<% end %>
  		
 			<li> <%= f.predicate_select %></li>
  			<%= f.value_fields do |v| %>
   			<li><%= v.text_field :value %></li>
  		<% end %>
	</ul>
</div>