<table  width='100%'>
	<%@user = user%>
	<% if user.active%>
		<tr height= "50px", align = "center">
			<td width='5%'><%= user.id%></td>
			<% if user.group_id==1 %>
				<td width='5%'><p3><b><%= user.group_id%></b></p3></td>
			<% else %>
				<td width='5%'><%= user.group_id%></td>
			<% end %>
			<% if user.group_manager%>
				<td width='10%'><p3><b>Yes</b></p3></td>
			<% else %>
				<td width='10%'></td>
			<% end %>
			<td width='30%'><%= gravatar_for user %><%= user.email%></td>
			<td width='30%'><%= user.created_at.strftime("%B %e,%Y")%></td>
			<td width='10%'>Activated</td>
			<td width='10%'><%= link_to "Edit User", edit_user_path(@user) %></td>
		</tr>
	<%else%>
		<tr height= "50px", align = "center">
			<td width='5%'><p3><%= user.id%></p3></td>
			<% if user.group_id==1 %>
				<td width='5%'><p3><b><%= user.group_id%></b></p3></td>
			<% else %>
				<td width='5%'><p3><%= user.group_id%></p3></td>
			<% end %>
			<% if user.group_manager%>
				<td width='10%'><p3><b>Yes</b></p3></td>
			<% else %>
				<td width='10%'></td>
			<% end %>
			<td width='30%'><p3><%= user.email%></p3></td>
			<td width='30%'><p3><%= user.created_at.strftime("%B %e,%Y")%></p3></td>
			<td width='10%'><%= link_to "Active Now", show_info_user_path(@user), class: "btn btn-small btn-primary"%></td>
			<td width='10%'><%= link_to "Edit User", edit_user_path(user) %></td>

		</tr>
	<%end%>
	<hr/>
</table>

