<% provide(:title, 'All users') %>
<h3 style="font-family: verdana; font-style: bold; color: orange; font-size: 16px">User of the site :<%= link_to '<View all>' ,users_path%></h3>

<hr/>
<p style="font-style: italic; color: blue">Advance search user :</p>


<!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&-->
	<%= search_form_for @search, url: search_users_path, method: :post do |f| %>
		<%= f.condition_fields do |c|%>
			<%= render "condition_fields", f: c%><td>
		<% end %>
			<div class = "actions"><%=f.submit "Search", class: "btn btn-large btn-primary"%></div>
	<% end %>
	
<hr/>
<!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
<table  width='100%'>
		<tr height= "50px", align = "center" bgcolor = "#CCFF33">
			<th width='5%'>ID</th>
			<th width='5%'>Group</th>
			<th width='10%'>Manger(G)</th>
			<th width='30%'>Email</th>
			<th width='30%'>Create At</th>
			<th width='10%'>Status</th>
			<th width ='10%'><th>
		</tr>

</table>
<ul class="users">
  <% @users.each do |user| %>
    <%= render user %>
  <% end %>
</ul>
