<span style="font-size: 20px">My Inbox(</span><span style="font-size: 20px; color: red;"><%= @emails.count%></span><span style="font-size: 20px">)</span>
<table width="100%" >
	<tr height= "80px" bgcolor = "#CCFF33">
			<th width='30%'>Sender </th>
			<th width='50%'>Tile</th>
			<th width='20%'>Time</th>
	</tr>
<% @emails.each do |email|%>
	<% @email = email%>
	<% if email.mark_read%>
		<tr height= "50px">
			
			<td><% if email.from_user ==current_user.email %>
					Me
				<% else %>
					<%= email.from_user %>
				<% end %>
			</td>
			<td><a href = <%=email_path(@email) %>><%= email.title %></a></td>
			<td><%= email.created_at.strftime("%B %e,%Y") %></td>
		</tr>
	<%else%>
		<tr height= "50px">
			<td><font color=red><% if email.from_user ==current_user.email %>
					Me
				<% else %>
					<%= email.from_user %>
				<% end %>
			<font>
			</td>
			<td><font color=red><a href = <%=email_path(@email) %>><%= email.title %></a></font></td>
		</font>
		<td><font color=red><%= email.created_at.strftime("%B %e,%Y") %></font></td>
		</tr>
	<% end %>
<% end %>
<hr/>
</table>
		
