<%= form_for @report, :html => { :multipart => true } do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div id = "mainreport" > 
  <div class="field">
      <%= f.label :'catalog_id(*)' %><br />
        <%= f.collection_select :catalog_id,
      Catalog.all, :id, :name,include_blank: true%>
  </div>
    <div class="field">
      <%= f.label :'content(*)' %><br />
      <%= f.text_area :content , length: 5%>
    </div>
    
  <label for="up">Add File attach</label>
    <%= file_field_tag 'datafile' %>

  <div class="clr"></div>
  <div class="actions">
    <%=f.submit "Send", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
