	<script type="text/javascript">
		$(function(){
			$(document).tooltip();
		})
		function normalImg(x){
			x.style.height="30px";
			x.style.width="30px";
		}

		function bigImg(x){
			x.style.height="50px";
			x.style.width="50px";
		}
	</script>

<div id="sidebar">
    <p>Search this site</p>
	<div id="search">
		<form method='get' action='#'>
			<input type='text' size='5' name='search' placeholder='type text here...' />
			<input type='submit' value='search' class='btn btn-medium btn-primary' />
		</form>
	</div> <!--End of search sidebar-->
	<div id='divider-form'></div>
    <% users = User.all%>
	<div id="new-member">
		<h2 style="color: LightSlateGray;">Member<br/></h2>
		<ul>
            <% users.each do |u|%>
             <a href = <%=user_path(u) %> ><%= gravatar_for(u,30)%></a>
            <%end%>
		</ul>
	</div><!--end of member-->
	<div class='clear'></div> <!--Clear both-->

	<div id='divider-form'></div>
	
	<div id='statistics'>
		<h2 style="color: LightSlateGray;">Statistics<br/></h2>
		<ul>
			<li>Member : <%= User.all.count%></li>
			<li>Reported: <%=Report.all.count%></li>
			<li>Catalog: <%=Catalog.all.count%></li>
			<li></li>
		</ul>
	</div>
	<div class='clear'></div> <!--Clear both-->
    <div id='divider-form'></div>  
	<div id="link">
		<h2 style="color: LightSlateGray;">Link<br/></h2>
		<ul>
						<li><a href="http://www.chatwork.com/">* Chatwork.com/</a></li>
            <li><a href="http://tech.blog.framgia.com/vn/">* Tech.blog.framgia.com/vn/</a></li>
            <li><a href="https://github.com/">* Github.com/</a></li>
		</ul>
	</div> <!--End of faq sidebar-->

	<div class='clear'></div> <!--Clear both-->
    <div id='divider-form'></div>  
	<div id="faq">
		<h2 style="color: LightSlateGray;">FAQs<br/></h2>
		<ul>
            <li> <%= link_to '- How do create account ?' ,faq_create_account_path %></li>
            <li> <%= link_to '- Change password ?' ,faq_changepasswd_path %></li>
          	<li> <%= link_to '- Why Report ?' ,faq_why_report_path %></li>
           	<li> <%= link_to '- Contact Manager' ,faq_contact_manager_path %></li>
           	<li> <%= link_to '- About WebSite' ,faq_aboutsite_path %></li>
		</ul>
	</div> <!--End of faq sidebar-->

	

    
</div> <!--End of sidebar-->