<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title><%= full_title(yield(:title)) %></title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
 	<%= csrf_meta_tags %>
</head>
<!--End of header-->
<body>
	<div id="wrapper">
		<%= render 'layouts/header' %> 
		
		<div id="content">
			<%= render 'layouts/slide_bar' %> 
			
			<div id="primary"> 
				<%= render 'layouts/nav_bar' %> 
        
        <div id='quick-link'>
            <ul id="small-nav">
              <li><a href= <%= root_path%>>Home  |  </a></li>
              <li><a href="#">Contact  |  </a></li>
              <li><a href="#">Sitemap</a></li>
           </ul>
        </div>

				<div id="content-page">
					<% flash.each do |key, value| %>
                		<div class="alert alert-<%= key %>"><%= value %></div>
             		<% end %>
               				<%= yield %>
				</div><!--End of contentpages-->
			</div><!--End of primary-->
			<div class='clear'></div> <!--Clear both-->
		</div> <!--End content-->

		<%= render 'layouts/footer' %> 
	</div> <!--End wrapper-->

	<%= debug(params) if Rails.env.development? %>
</body>
</html>