<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/resources/demos/style.css" />
	<script type="text/javascript">
		$(function(){
			$(document).tooltip();
		})
		function normalImg(x){
			x.style.height="30px";
			x.style.width="30px";
		}

		function bigImg(x){
			x.style.height="50px";
			x.style.width="50px";
		}
	</script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title><%= full_title(yield(:title)) %></title>
  	<%= stylesheet_link_tag    "application", :media => "all" %>
  	<%= javascript_include_tag "application" %>
 	<%= csrf_meta_tags %>
</head>
<!--End of header-->
<body>
	<div id="wrapper">
		<%= render 'layouts/header' %> 
		
		<div id="content">
			<%= render 'layouts/slide_bar' %> 
			
			<div id="primary"> 
				<%= render 'layouts/nav_bar' %> 
        
      	  		<div id ="nav-top">
 	       			<div id='quick-link'>
    	      			<ul id="small-nav">
              		<li><a href= "<%= root_path%>">
										<img border="0" src="/images/home.png" alt="new-email" onmouseover="bigImg(this)" onmouseout="normalImg(this)" title="Home" width="30" height="30"/>
										</a>
									</li>
              		<li><a href="#">
										<img border="0" src="/images/contact.png" alt="new-email" onmouseover="bigImg(this)" onmouseout="normalImg(this)" title="Contact " width="30" height="30"/>
										</a>
									</li>		
           				</ul>
        			</div>
        			<div id="mail-toolbar">
        				<ul id = 'mail-tb'>
        					<li><a href= <%= new_email_path %> >
										<img border="0" src="/images/new-email.jpg" alt="new-email" onmouseover="bigImg(this)" onmouseout="normalImg(this)" title="New Email" width="30" height="30"/>
										</a>
									</li>
 								
        					<li><a href= <%= inbox_path%> >
										<img border="0" onmouseover="bigImg(this)" onmouseout="normalImg(this)" src="	/images/inbox.png" alt="inbox-email" title="Inbox"  width="30" height="30"/>
									</a>
									</li>

        				<li><a href=<%= sent_path%> >
								<img border="0" src="/images/sent.jpg" onmouseover="bigImg(this)" onmouseout="normalImg(this)" alt="sent-email" title= "Sent" width="30" height="30"/>
								</a>
							</li>

 						</ul>
        			</div>
        		</div>


				<div id="content-page">
					<% flash.each do |key, value| %>
                		<div class="alert alert-<%= key %>"><%= value %></div>
             		<% end %>
               				<%= yield %>
				</div><!--End of contentpages-->
			</div><!--End of primary-->
			<div class='clear'></div> <!--Clear both-->
		</div> <!--End content-->

		<%= render 'layouts/footer' %> 
	</div> <!--End wrapper-->

	<%= debug(params) if Rails.env.development? %>
</body>
</html>